body{font-family:Arial;background:#f0f0f0;text-align:center;padding:20px;}
h1{color:#007bff;}
.box{background:#fff;width:90%;max-width:500px;margin:auto;padding:20px;border-radius:12px;box-shadow:0 0 15px #ccc;}
input,textarea,button,select{width:95%;padding:12px;margin-top:10px;border-radius:8px;border:1px solid #888;font-size:16px;}
button{background:#007bff;color:white;border:none;font-weight:bold;cursor:pointer;}
button:hover{background:#005fcc;}
img{margin-top:20px;max-width:100%;border-radius:12px;}